@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0082f8;
  --color-secondary: #ff2424;
  --color-primary-2: #5ec0f8;
  --color-secondary-2: #ff8484;
  --color-dark: #111111;
  --skeleton-primary: #656871;
  --skeleton-secondary: #82848a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: #fff;
  background: #111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui;
}
button,
select,
input {
  outline: none;
}
textarea {
  resize: none;
  outline: none;
}
